html {
    background-color: lightskyblue;
    font: "Varela Round", sans-serif;
}
.message {
    text-align: center;
    font-size: 400%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.gameboard {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 5px solid black;
    margin: auto 35% auto;
    height: auto !important;
}
.disabled {
  background-color: #4c5c68;
  color: #b0e4db;
  opacity: 40%;
  cursor:not-allowed !important;
}

.restart-button {
    margin-top: 5px;
    padding: 10px 20px;
    border: 3px solid #2a3a46;
    border-radius: 7px;
    background-color: #4c5c68;
    color: #b0e4db;
    font-size: 5rem;
    cursor: pointer;
  }
  .restart-button:hover {
    background-color: #3b4b57;
  }
  
  .restart-button:active {
    background-color: #2a3a46;
  }
  
  .restart-button:focus {
    outline: none;
  }
  .AI-button {
    margin-bottom: 5px;
    padding: 10px 20px;
    border: 3px solid #2a3a46;
    border-radius: 7px;
    background-color: #4c5c68;
    color: #b0e4db;
    font-size: 5rem;
    cursor: pointer;
  }
  .AI-button:hover {
    background-color: #3b4b57;
  }
  
  .AI-button:active {
    background-color: #2a3a46;
  }
  
  .AI-button:focus {
    outline: none;
  }

h1 {
    text-align: center;
    background-color: lightblue;
    margin-top: -15px;

    border-color: blue;
    border: 5px double blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    margin-left: -50px;
    padding-left: 60px;
}
h1::first-line {
  font-size:300%;
}

.field {
    display: block;
    text-align:center;
    line-height: 230%;
    height: 16rem;
    font-size:6em;
    cursor: pointer;
    border: black solid 1px;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}